@use "../abstracts" as *;
@use "../base" as *;
@use "../globals" as *;

button {
  display: block;
  font-family: $font-name;
  text-align: center;
  background: none;
  margin: 1.25rem 0;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  @include breakpoint {
    cursor: pointer;
  }
}

.start-trial__btn {
  font-size: map-get($type-scale-small, 300);
  font-weight: map-get($font-weights, bold);
  color: map-get($white-variant, doctor);
  background: map-get($blue-variant, royalty);
  width: 100%;
  border-radius: 5px;

  @include breakpoint {
    max-width: 12.5rem;
  }
}

.diversify-trial__btn {
  font-size: map-get($type-scale-small, 300);
  font-weight: map-get($font-weights, bold);
  color: map-get($blue-variant, royalty);
  background: map-get($white-variant, doctor);
  width: 100%;
  border-radius: 5px;

  @include breakpoint {
    display: flex;
    // justify-content: flex-start;
    align-self: flex-start;
    max-width: 12.5rem;
  }
}

.view-portf__btn {
  font-size: map-get($type-scale-small, 300);
  font-weight: map-get($font-weights, bold);
  color: map-get($blue-variant, royalty);
  width: 100%;
  border: 1px solid map-get($gray-variant, silver-back);
  border-radius: 5px;
}

.sign-up__btn {
  font-size: map-get($type-scale-small, 300);
  font-weight: map-get($font-weights, bold);
  color: map-get($white-variant, doctor);
  background: map-get($blue-variant, royalty);
  border-radius: 5px;

  a {
    text-decoration: none;
    color: map-get($white-variant, doctor);
  }
}

.create-acct__btn {
  font-size: map-get($type-scale-small, 300);
  font-weight: map-get($font-weights, bold);
  color: map-get($white-variant, doctor);
  background: map-get($blue-variant, royalty);
  width: 90%;
  max-width: 23rem;
  margin: 0 0 0.5rem;
  border-radius: 5px;

  @include breakpoint {
    max-width: 35rem;
  }
}

.mobile-sign-up__btn {
  font-size: map-get($type-scale-big, 100);
  font-weight: map-get($font-weights, bold);
  color: map-get($white-variant, doctor);
  background: map-get($blue-variant, royalty);
  border-radius: 5px;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: map-get($white-variant, doctor);
  }
}
