@use '../base' as *;
@use '../abstracts' as *;
@use '../globals/' as *;

footer {
    background: map-get($yellow-variant , placebo-yellow);
    @include container-small;

    .about-fiber__footer {
        .footer-logo__header {
            font-weight: map-get($font-weights, bold);
            font-size: map-get($type-scale-small, 300);
            margin: 0 0 .75rem;
        }

        .about-fiber {
            color: map-get($black-variant, jet-black);
             
        }

        .made-in {
            margin: 1rem 0;
            .love-icon {
                color: map-get($black-variant, dark-charcoal);
            }
        }
    }

    .footer-nav {
        margin: 2rem 0;
        .footer-items {
            .nav-header {
                font-weight: map-get($font-weights, bold);
                font-size: map-get($type-scale-small, 300);
                margin: 0 0 1rem;
            }

            .footer-nav__items {
                list-style-type: none;

                a {
                    color: map-get($black-variant, dark-charcoal);
                    text-decoration: none;
                }

                .footer-nav__item + .footer-nav__item {
                    margin: .25rem 0;

                }

            }

            .footer-nav__items:last-child {
                margin-bottom: 1.5rem; 
            }
        }
    }
}
