@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


$font-name: 'Inter', sans-serif;
$font-weights: (
    light: 300,
    medium: 400,
    regular: 500,
    semi-bold: 600,
    bold: 700
);

